huggingface-hub
faiss-cpu
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
gradio
urllib3
groq
langchain_groq
rank_bm25
torch==2.3.1
transformers==4.44.2
sentence-transformers==3.0.1
langchain-huggingface>=0.0.3
